:root {
    --sidebar-bg: #68686830;
}
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 100vh;
    background-color: var(--sidebar-bg);
    box-shadow: 0px 2px 13px 5px rgba(0, 0, 0, 0.2); 
    z-index: 1;
}

.icons {
    width: 0;
}

i {
    cursor: pointer;
    margin: 15px 0;
    transform: scale(1.5);
}